.Box {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.gridContainer{
  color: #fff;
  text-shadow:  0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca,
    0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca,
    0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca,
    0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca;
}

.homeName{
    font-family: Arial, Helvetica, sans-serif;
  
}

.homeTitles{
    font-family: Arial, Helvetica, sans-serif;
}

.cv-button{
  background: transparent;
  color: rgb(162, 163, 164);
  text-shadow: 2px 2px 8px #fff;
  padding-top: 7%;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.cv-button:hover{
  color: #fff;
  transition-delay: 0.5s;
  text-shadow: 
  .1vw 0vw .25vw #fff, .2vw 0vw .25vw #fff, .4vw 0vw .25vw #fff, 
    .1vw 0vw   1vw #0ff, .2vw 0vw   1vw #0ff, .4vw 0vw   5vw #0ff, 
    .1vw 0vw  10vw #0ff, .2vw 0vw  30vw #0ff, .4vw 0vw  10vw #0ff;
}

.navTitle{
    color: lightblue;
    overflow: hidden;
    animation: flicker 1.8s ease-in-out;
    opacity: 1;
    padding-left: 5.3%;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
} 

 @keyframes flicker {
    10%, 30%, 60%, 75% {
      opacity: 1;
      text-shadow: 0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca,
                   0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca;
    }
  
    20%, 40%, 72% {
      opacity: 0;
      text-shadow:  0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca,
                    0 0 10px #3d46ca, 0 0 40px #3d46ca, 0 0 10px #3d46ca;
      
    }
  }